* {
  font-size: 20px;
}
button, input {
  padding: 0.5em;
  border-radius: 10px;
  border: 0;
  outline: 0;
}
button {
  background: #00aacc;
  color: white;
}
button:hover {
  background: #0092af;
}
input {
  width: 200px;
  background: #eee;
  border: 0;
  margin-right: 1em;
}

#colorBox {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1em;
  background-color: rgb(128, 128, 128);
}
