#info-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#result-canvas {
  background-image: url('../assets/paradise.jpg');
  background-size: cover;
}

#countdown {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px;
  color: white;
  pointer-events: none;
  -webkit-text-stroke: black 2px;
}
