body, html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./assets/cisco.png'), url('./assets/background.png');
  background-size: 40px 20px, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: center 98%, center center;
  margin: 0;
  font-family: arial;
}

.row {
  display: flex;
}

.box {
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #0003;
  margin: 1em;
  flex-grow: 0;
  flex-shrink: 0;
  background: #eee;
}

.half-screen {
  width: 600px;
  height: 450px; /* 600 * 3 / 4, web cams are usually 3:4 ratio */
}

.hidden {
  position: absolute;
  opacity: 0;
}

select {
  margin: 1em;
  font-size: inherit;
}

button {
  background: #00aacc;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  border: 0;
  font-size: 30px;
  cursor: pointer;
  outline: 0;
}

button:hover {
  background: #369ab9;
}

footer {
  position: absolute;
  bottom: 1em;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

#colorBox {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 1em;
  background-color: rgb(128, 128, 128);
}

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: underline;
}
